/message-test-laravel/node_modules
/message-test-laravel/public/hot
/message-test-laravel/public/storage
/message-test-laravel/storage/app/*
/message-test-laravel/storage/framework/cache/data/*
/message-test-laravel/storage/framework/sessions/*
/message-test-laravel/storage/framework/testing/*
/message-test-laravel/storage/framework/views/*
/message-test-laravel/storage/logs/*
/message-test-laravel/storage/*.key
/message-test-laravel/vendor
/message-test-laravel/.styleci.yml
/message-test-laravel/.phpunit.result.cache
/message-test-laravel/.php-cs-fixer.cache
/message-test-laravel/package.json
/message-test-laravel/phpunit.xml
/message-test-laravel/README.md
/message-test-laravel/phpspec.yml
/message-test-laravel/npm-debug.log
/message-test-laravel/yarn-error.log
/message-test-react-front/node_modules
/.github
/.git
/.idea
/.vscode
**.env*
**.editorconfig
**.gitattributes
**.gitignore
